<section>
  <div class="left">
    <!-- <card> ---------------------------------------- -->
    <!-- <p>Komponent: card</p> -->
    <magma-card>
      <magma-card-title>
        Card title
      </magma-card-title>
      <magma-card-subtitle>
        Subtitle
      </magma-card-subtitle>
      <magma-card-actions justify="end">
        <button magmaButton>Button</button>
        <!-- <button>button 2</button> -->
      </magma-card-actions>
    </magma-card>
    <!-- <> ---------------------------------------- -->
  </div>
  <div class="right">
    
  </div>
</section>
