/* You can add global styles to this file, and also import other style files */
html, body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-size: 0.9rem;
    height: 100%;
}
* {
    box-sizing: border-box;
}
::-webkit-scrollbar {
    width: 9px;
    height: 9px;
}
::-webkit-scrollbar-thumb {
    background: var(--magma-color-card-200);
    border: 0px none #ccc;
    border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover {
    background: var(--magma-color-card-200);
}
::-webkit-scrollbar-track {
    // background: #e1e1e1;
    background: var(--magma-color-card-400);
    border: 0px none #ccc;
}
:root {
    --magma-font: 'Inter', serif;
    // --magma-color-font-primary-100: #262626 !important;
    // --magma-color-font-secondary-100: #323232 !important;
    // --magma-color-font-secondary-200: #232323 !important;

    // --magma-color-green-100: #2dc976 !important;
    // --magma-color-blue-100: #38bdf8 !important;
    // --magma-color-yellow-100: #fb923c !important;

    // --magma-color-purple-100: #6366f1 !important;
    // --magma-color-purple-200: #3a3b6a !important;
    
    // --magma-color-red-100: #bb1f29 !important;

    // --magma-color-card-100: #f5f5f5 !important;
    // --magma-color-card-200: #ffffff !important;
    // --magma-color-card-300: #fff !important;
    // --magma-color-card-400: #e7e7e7 !important;
    // --magma-color-card-500: #f2f2f2 !important;
}